{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block extra_head %}
    <style>
        .chg-pass {
  max-width: 350px;
  max-height: 550px;
  margin: auto;
}
    </style>
    {% endblock %}

{% block content %}
<div class="chg-pass">
<h1>Change Password</h1>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-info py-3 btn-lg btn-block" name="action">Change Password</button><br>
        <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
    </form>
</div>
{% endblock %}

